<div class="chat-shell">
  <div class="messages" #messagesContainer>
    <div *ngFor="let m of messages" [class.me]="((m.senderId && (m.senderId._id || m.senderId)) === currentUserId)" class="message-row">
      <img [src]="m.senderId?.image || 'assets/images/avatar.jpg'" alt="avatar" class="convo-avatar" />
      <div class="message-bubble">
        <div class="message-text">{{ m.text }}</div>
        <div class="message-meta">{{ m.createdAt | date:'short' }}</div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <div class="composer">
      <input matInput placeholder="Écrire un message..." [(ngModel)]="inputText" (keydown.enter)="send()" />
      <button mat-icon-button class="send-btn" color="primary" type="button" (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>