<script src="../../../../core/services/auth.service.ts"></script>
<div class="appt-dashboard">
  <h2>My Appointments</h2>

  <div *ngIf="(pending.length + accepted.length + rejected.length) === 0">
    <p>No appointments found</p>
  </div>

  <div *ngIf="pending.length">
    <h3>Pending</h3>
    <table mat-table [dataSource]="pending" class="mat-elevation-z1" style="width:100%">
      <ng-container matColumnDef="veterinarian">
        <th mat-header-cell *matHeaderCellDef>Veterinarian</th>
        <td mat-cell *matCellDef="let a">{{ a.veterinarianId?.fname }} {{ a.veterinarianId?.lname }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let a">{{ a.date | date:'mediumDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let a">{{ a.time }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let a">{{ a.status }}</td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let a">
          <button mat-icon-button color="primary" (click)="openMessage(a.veterinarianId?._id || a.veterinarianId)">
            <mat-icon>message</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="pendingColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: pendingColumns;"></tr>
    </table>
  </div>

  <div *ngIf="accepted.length">
    <h3>Accepted</h3>
    <table mat-table [dataSource]="accepted" class="mat-elevation-z1" style="width:100%">
      <ng-container matColumnDef="veterinarian">
        <th mat-header-cell *matHeaderCellDef>Veterinarian</th>
        <td mat-cell *matCellDef="let a">{{ a.veterinarianId?.fname }} {{ a.veterinarianId?.lname }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let a">{{ a.date | date:'mediumDate' }}</td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let a">{{ a.time }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let a">{{ a.status }}</td>
      </ng-container>
    <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
    
        <td mat-cell *matCellDef="let a">
    
            <!-- Si déjà noté -->
            <span *ngIf="a.rating">
                ⭐ {{ a.rating }}/5
            </span>
    
            <!-- Sinon, permettre de noter -->
            <ng-container *ngIf="!a.rating && a.status === 'accepted'">
    
                <mat-form-field appearance="outline" style="width:90px">
                    <mat-select [(ngModel)]="a.newRating">
                        <mat-option *ngFor="let r of [1,2,3,4,5]" [value]="r">
                            {{ r }} ⭐
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <button mat-button color="primary" (click)="rate(a)">
                    Submit
                </button>
    
            </ng-container>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="message">
      <th mat-header-cell *matHeaderCellDef>Message</th>
      <td mat-cell *matCellDef="let a">
        <button mat-icon-button color="primary" (click)="openMessage(a.veterinarianId?._id || a.veterinarianId)">
          <mat-icon>message</mat-icon>
        </button>
      </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="acceptedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: acceptedColumns;"></tr>
    
    </table>
  </div>

  <div *ngIf="rejected.length">
    <h3>Rejected</h3>
    <table mat-table [dataSource]="rejected" class="mat-elevation-z1" style="width:100%">
      <ng-container matColumnDef="veterinarian">
        <th mat-header-cell *matHeaderCellDef>Veterinarian</th>
        <td mat-cell *matCellDef="let a">{{ a.veterinarianId?.fname }} {{ a.veterinarianId?.lname }}</td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let a">{{ a.date | date:'mediumDate' }}</td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let a">{{ a.time }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let a">{{ a.status }}</td>
      </ng-container>
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>Message</th>
        <td mat-cell *matCellDef="let a">
          <button mat-icon-button color="primary" (click)="openMessage(a.veterinarianId?._id || a.veterinarianId)">
            <mat-icon>message</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="rejectedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: rejectedColumns;"></tr>
    </table>
  </div>
</div>
